#navbar_prop{
  font-family: 'Josefin Sans';
  background-color:#009688;
 }

.font_prop{
  color:white;
}

.jumbotron{
  background-color: #f4511e;
  color: #ffffff;
  font-family: 'Josefin Sans';
  height: 100vh;
}

.img-responsive{
  margin : 0 auto;
  margin-top : 30px;
  border : solid white 2px  ;
}

#burger_btn{
  border: none;
}



.intro{
  background-color:white;
}

#intro_id{
  font-family: 'Josefin Sans';
  font-size: 20px;
  padding: 10px;
}

#education_id{
  
  font-family: 'Josefin Sans';
  font-size: 20px;
  padding: 10px;
  
}

.hobbies{
  background-color : white;
}

#hobbies_id{
  font-family: 'Josefin Sans';
  font-size: 20px;
  padding: 10px;
}

.portfolio{
 
  background-color:#E0E0E0;
  
}


/*slide anim*/
.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}









